{% extends 'base.html' %}
{% load static %}

{% block title %}
	Chat - {{ block.super }}
{% endblock %}

{% block content %}

<div class="container-fluid" id="main-container">
    <div class="row">
        <div class="col-md-9">
            <div id="chat-container" class="embed-responsive embed-responsive-16by9">
                <iframe id="chat-iframe" class="embed-responsive-item" src=""></iframe>
            </div>
        </div>
        <div class="col-md-3">
            {% include 'KickApp/kick-settings.html' %}
        </div>
    </div>
</div>

{% endblock %}