{% extends 'base.html' %}
{% load static %}

{% block title %}
	Kick Chat - {{ block.super }}
{% endblock %}

{% block static %}
  <link rel="stylesheet" href="{% static 'KickApp/css/chat.css' %}">
  <script src="{% static 'KickApp/js/KickAppChat.bundle.js' %}" defer></script>
{% endblock %}

{% block content %}

<div class="row text-center">
  <div class="col">
    <h1>Kick Chat: <b><a id="selectedChannel" class="channel_is-not-selected" data-channel-status="false"></a></b> | Work time: <span id="workTimer">00:00:00</span></h1>
  </div>
</div>

{% include 'KickApp/auto-messages-modal.html' %}
{% include 'KickApp/channel-modal.html' %}

<div class="row mb-2">
  <div class="col-md-9">
    <div id="stream-embed-container">
      <iframe id="chat-embed" class="w-100"
              src=""
              frameborder="0" 
              scrolling="no"
              allowfullscreen>
      </iframe>
    </div>
  </div>
  <div class="col-md-3">
    <textarea id="inputLogs" disabled style="width: 100%; height: 100%; min-height: 400px;"></textarea>
  </div>
</div>

<div class="form-check form-switch">
  <input class="form-check-input" type="checkbox" id="sendAutoMessageStatus">
  <label class="form-check-label" for="sendAutoMessageStatus">Enabling or disabling automatic message sending (<span id="timerAutoMessage">00:01:00</span>)</label>
  <button type="button" class="btn btn-outline-primary btn-sm ms-2" id="editAutoMessage" data-bs-toggle="modal" data-bs-target="#editAutoMessageModal">Edit auto-messages</button>
</div>

<hr>

<div class="row text-center pt-2 mb-4">
  <div class="col">
    <div class="form-group">
      <label for="inputMessage"><span id="inputMessageAccountLabel"></span></label>
      <input type="text" class="form-control pt-1" id="inputMessage">
      <button type="button" id="sendInputMessage" class="btn btn-success input-message-send w-15">
        Chat
      </button>
    </div>
  </div>
</div>

<div class="row justify-content-center" id="accounts" style="display: none;">
  <div class="loader"></div>
  <span class="text-center">Uploading accounts....</span>
</div>
<div class="row justify-content-center" id="accounts-empty" style="display: block;">
  <span class="text-center">No accounts loaded.</span>
</div>

<template id="alertTemplate">
    <div class="alert alert-dismissible fade show" id="alertBody" style="position: absolute;top: 10px;right: 10px" role="alert">
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</template>

{% endblock %}