{% extends "base.html" %}
{% load static %}

{% block title %}Kick Stats{% endblock %}

{% block page_css %}
    <link rel="stylesheet" href="{% static 'StatCss.bundle.css' %}">
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-2">
        {% include 'KickApp/kick-settings.html' %}
    </div>
    <div class="col-10">
        <h1>Kick Stats</h1>
        <canvas id="viewersChart"></canvas>
    </div>
</div>
{% endblock %}

{% block page_js %}
  <script src="{% static 'KickAppStats.bundle.js' %}"></script>
{% endblock %}