{% extends 'base.html' %}
{% load static %}

{% block title %}
	Kick Chat - {{ block.super }}
{% endblock %}

{% block static %}
  <link rel="stylesheet" href="{% static 'KickApp/css/chat.css' %}">
  <script src="{% static 'KickApp/js/KickAppChat.bundle.js' %}" defer></script>
{% endblock %}

{% block content %}

<div class="row text-center">
  <div class="col">
    <h1>Kick Chat: <b><a id="selectedChannel" class="channel_is-selected" data-channel-status="true"></a></b> | Work time: <span id="workTimer">00:00:00</span></h1>
  </div>
</div>

{% include 'KickApp/kick-settings.html' %}

<div class="row mb-2">
  <div class="col col-md-6">
    <textarea id="inputLogs" disabled style="height: 350px; width: 100%; background: #18181b; color: #fff; border-radius: 10px;"></textarea>
  </div>
  <div class="col col-md-6 stream-embed-container">
    <iframe id="chat-embed" style="height: 350px; width: 100%; background: #18181b; border-radius: 10px;" frameborder="0" allowfullscreen="true" scrolling="no"></iframe>
  </div>
</div>

<div class="form-check form-switch">
  <input class="form-check-input" type="checkbox" id="sendAutoMessageStatus">
  <label class="form-check-label" for="sendAutoMessageStatus">Enabling or disabling automatic message sending (<span id="timerAutoMessage">00:01:00</span>)</label>
</div>

<hr>

<div class="row text-center pt-2 mb-4">
  <div class="col">
    <div class="form-group">
      <label for="inputMessage"><span id="inputMessageAccountLabel"></span></label>
      <input type="text" class="form-control pt-1" id="inputMessage">
      <button type="button" id="sendInputMessage" class="btn btn-success input-message-send w-15">
        Chat
      </button>
    </div>
  </div>
</div>

<div class="row justify-content-center" id="accounts">
  <div class="loader"></div>
  <span class="text-center">Uploading accounts....</span>
</div>

<template id="alertTemplate">
    <div class="alert alert-dismissible fade show" id="alertBody" style="position: absolute;top: 10px;right: 10px" role="alert">
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</template>

{% include 'KickApp/channel-modal.html' %}
{% include 'KickApp/auto-messages-modal.html' %}

{% endblock %}