<!-- Modal Edit auto-messages -->
<div class="modal fade" id="editAutoMessageModal" tabindex="-1" aria-labelledby="editAutoMessageModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editAutoMessageModalLabel">Edit auto-messages</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <div class="range-slider">
                            <h5>How many messages per minute:</h5>
                            <input class="range-slider__range" id="autoMessageFrequencyInput" type="range" value="1" min="1" max="60">
                            <span class="range-slider__value" id="frequency-send"></span>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col">
                        <textarea name="autoMessageTextArea" class="p-2" id="autoMessageTextArea" cols="30" rows="10" placeholder="Every new message from a new line"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="saveAutoMessages">Save changes</button>
            </div>
        </div>
    </div>
</div>