// Base
$background-color: #18181B;
$background-color-secondary: #0E0E10;
$font-color: #fff;
$font-color-error: #FF000BDB;
$font-color-alternative: #0E0E10;
$font-color-active: #af1414;

$button-twitch: #9147ff;
$button-twitch-hover: #772ce8;
$color-twitch: #614291;

$color-not-available: #b90101;
$color-box-shadow: rgba(0, 0, 0, 0.13);
$box-shadow-params: 0px 0px 2px 5px;