{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
  <link rel="stylesheet" href="{% static 'Django/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'Django/css/main.css' %}">
  <script src="{% static 'Django/js/Django.bundle.js' %}"></script>
  <script src="{% static 'Django/js/bootstrap.bundle.min.js' %}"></script>
  <title>
  {% block title %}
    WebStreams
  {% endblock %}
  </title>
  {% block head %}{% endblock %}

  <script>
    $(document).ready(function() {
        $(".dropdown-toggle").dropdown();
    });
  </script>

  <!-- INCLUDE STATIC  -->
  {% block static %} {% endblock %}
  <!-- ------------- -->
</head>
<body>
  {% include "header.html" %}

  <div class="container container-content mb-4">
    {% block content %}{% endblock %}
  </div>

  <div class="">
    {% include "footer.html" %}
  </div>
</body>
</html>
