@import "bootstrap.min.css";
@import "../../../../theme/_const.scss";

html, body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: $background-color-secondary;
  color: $font-color;
}

.header {
  color: $font-color;
  box-shadow: $box-shadow-params $color-box-shadow;
  h2, a {
    color: $font-color;
  }
  background-color: $background-color;


  a .dropdown {
    color: $font-color;

  }

  .menu__link_is-active {
    color: $font-color-active;
  }
}

.container-content {
  min-height: 90vh;
}

.footer {
  background-color: $background-color;
  box-shadow: $box-shadow-params $color-box-shadow;
}