@import "../../../../theme/_const.scss";

#inputShowUserStat {
  display: inline-block;
  width: 50%;
  background-color: $background-color;
  color: $font-color;

}

.accordion-button {
  box-shadow: $box-shadow-params $color-box-shadow;
  background-color: $background-color;
  color: $font-color;
  &:focus {
    box-shadow: none;
  }
  &:not(.collapsed), &:hover {
    box-shadow: $box-shadow-params $color-box-shadow;
    background-color: $background-color-secondary;
    color: $font-color;
  }
}

.accordion, .accordion-body, .accordion-item, .accordion-item h2 {
  background-color: $background-color-secondary;
  a {
    text-decoration: none;
  }
}